# Directorios de compilación/dependencias
__pycache__/
.pytest_cache/
venv/
.venv/
views\componentes\__pycache__
\services\__pycache__

# Ignora todas las carpetas de caché de Python
__pycache__/ 

# Archivos de configuración local/secreto
*.local
*.env
.vscode/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db

# Archivos de registro
*.log